* {
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 62.5%;
	background: whitesmoke;
	font-family: sans-serif;
}
h1 {
	font-size:1.8rem;
	color: white;
}
h2 {
	font-size: 1rem;
}

.header {
	background: rgba(255, 68, 0, 0.623);
}

.header h1 {
	padding: 1rem 1rem 1rem 10rem;
}
.nav {
	background: rgba(0, 0, 0, 0.774);
	color: white;
	margin: 0rem;
	padding: 1rem 1rem 1rem 9rem;
}

.nav h2 {
	display: inline;
	padding: 2rem 1rem;
}
.nav:nth-child(1) {
	padding: 5rem;
}

.main {
	height: 18rem;
	background-image: url(/mywebsite/images/showcase.jpg);
	background-position: right;
	text-align: center;
}
.main h1 {
	padding: 5rem 5rem;
	font-size: 3rem;
}

.content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 3rem 2rem;
	font-size: 1rem;
}
.mainbar {
	grid-column: 1/4;
}
.mainbar h2 {
	padding-bottom: 1rem;
	font-size: 2rem;
}
.sidebar {
	background: rgba(0, 0, 0, 0.699);
	color: white;
	padding: 2rem 1rem;
	width: 300px;
	margin-left: 2rem;
}

.footer {
	background:rgba(0, 0, 0, 0.699) ;
	padding: 2.5rem 0;
	text-align: center;
	font-size: 1rem;
	color: white;
}